@import "../../css/toolkit.css";

.base {
	height: 16px;
	margin-right: 7px;
}


.normal {
	composes: base;

}

.active {
	composes: base;
	border: solid 1px blue;
	
}

@media screen and (min-width: 568px)  {

	.base {
		height: 22px;
		margin-right: 11px;
	}

}