@import "../../css/toolkit.css";


html
{
	background-color: $text-color;
}


.body
{
	/*display: grid;
	grid-template-columns: auto 960px auto;
  	grid-template-rows: auto;
  	grid-template-areas: 
	    ". main .";*/

}

body {

	/* AS OPPOSED TO .body */
 	font-size: $base-font-size;	
	background-color: #ffffff; // Old browsers
	background: #ffffff; /* Old browsers */

	$gradient-x: 50%;
	$gradient-y: 50%;

	background-image: radial-gradient(circle at $gradient-x $gradient-y, #ffffff, $light-blue); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-attachment: fixed;
	box-shadow: 0 2px 0px rgba(0,0,0,0.25);
	padding-top: 1px;
}



.panelsContainer
{	
	margin-top: 80vh;
}




@media screen and (min-width: $iphone-landscape-width)  {

	

	.body
	{
		/*display: grid;
		grid-template-columns: auto 960px auto;
	  	grid-template-rows: auto;
	  	grid-template-areas: 
		    ". main .";*/

		lost-center: 980px;

		
	}

	body {

		/* AS OPPOSED TO .body */
	 	$gradient-x: 50%;
	 	$gradient-y: 50%;
		background: radial-gradient(circle at $gradient-x $gradient-y, #ffffff, $light-blue); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		background-attachment: fixed;

	}

	.panelsContainer
	{
		
		lost-column: 8/12;
		lost-offset: 2/12;

	}

	

}


