@import "../../css/toolkit.css";

.app {
	font-family: "Gill Sans", "Gill Sans MT", sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	/*font-family: 'Yanone Kaffeesatz', sans-serif;*/
	font-size: inherit;
	color: $text-color;
	font-weight: 300;
}
