@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300');
@import "../../css/toolkit.css";

html, body {
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

.app {
	font-family: "Gill Sans", "Gill Sans MT", sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	/*font-family: 'Yanone Kaffeesatz', sans-serif;*/
	font-size: inherit;
	color: $text-color;
	font-weight: 300;
}
