@import "../../css/toolkit.css";


.logo
{
	width: 50px;
}

.badge
{
	lost-column: 1/2 2;
	text-align: center;
	margin: calc($base-increment * 2) 0;
}

@media screen and (min-width: 568px)  {

	.logo
	{
		width: 70px;
	}
}