@import "../../css/toolkit.css";

@lost cycle none;

.panelColumn
{
	lost-column: 16/18 16;
	lost-offset: 1/18;
	padding-top: calc($base-increment * 3);
	padding-bottom: calc($base-increment * 3);
	/*line-height: calc($base-increment * 3);*/
	/*line-height: 1.2em;*/
	lost-utility: clearfix;
}

.roleIntro
{
	font-weight: 700;
	margin-top: 0;
	/*font-size: 18px;*/
}

.listShared
{
	/*font-size: 18px;*/
}

.listIntro
{
	composes: listShared;
}

.list
{
	composes: listShared;
	padding-left: 14px;
	list-style-type: disc;
}

/*.list li:before
{
	content: '—';
	text-indent: 5px;
}*/

.list li
{
	/*text-indent: -14px;*/
	padding-left: 1ex;
	margin-bottom: 1.618ex;
	margin-left: 1ex;
}

@media screen and (min-width: $iphone-landscape-width)  {
	
	.panelColumn
	{
		lost-column: 6/8;
		lost-offset: 1/8;
		padding-top: calc($base-increment * 6);
		padding-bottom: calc($base-increment * 6);
		/*line-height: calc($base-increment * 3);*/
		/*line-height: 1.6em;*/
	}

	.listShared
	{
		/*font-size: 20px;*/
	}

	.roleIntro
	{
		/*font-size: 20px;*/
	}

}