@import "../../css/toolkit.css";

.headerBase {
  /*background-color: white;*/
  background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.6)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 2ex;
  padding-bottom: 2ex;
 
  transition: all 0.4s ease-out;
}

.headerHidden
{
  composes: headerBase;
  transform: translate(0,-150%);
}

.headerNormal
{
  /*not used in mobile*/
  composes: headerHidden; 
}

.headerTitle
{
	text-transform: uppercase;
	font-size: $font-size-2;
	line-height: $lh-2;
  font-weight: 700;
	letter-spacing: 5px;
	margin: 0;
}

.headerSubtitle
{
	text-transform: uppercase;
	font-size: font-size-1;
	line-height: $lh-1;
	margin: 0;
}

.actionsPanel
{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: calc($base-increment * 3);
  top: calc($base-increment * 3);
}

@media screen and (min-width: $iphone-landscape-width)  {
  .headerNormal
  {
    composes: headerBase;
    transform: translate(0,0);
  }
}