/* _mixins.scss */

@mixin my-padding-mixin($some-number) {
  padding: $some-number;
}

@mixin headingAttributes() {
	font-size: $font-size-4;
	line-height: $lh-4;
	letter-spacing: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

@mixin headingAttributesMobile() {
	font-size: $font-size-3;
	line-height: $lh-3;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 400;
}
