/* _variables.scss */

$border-color: #eee;

/* COLORS */

$text-color: #4E7687;

$light-blue: #7ab8d4;
$action-icon-bgcolor: rgba(122,184,211,0.7);

/* Basic dimensions */

$base-increment: 11px;
$base-font-size: 24px;
$text-line-height: $base-increment * 2;
